* {
  margin: 0;
  padding: 0;
}
#table {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
#tablehead {
  color: white;
  background-color: black;
}
#tableboddy {
  background-color: white;
}
td{
  text-align: center;
}
